node_modules
browser-bundle.js
browser-bundle.min.js
npm-debug.log
*~
\#*
.\#*

abhimata-backend/target
abhimata-backend/classes
abhimata-backend/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
abhimata-backend/.lein-*
abhimata-backend/.nrepl-port
