html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.loader-container {
  background: #fff;
  width: 100%;
  height: 100%;
  position: relative;

  opacity:0;
  -webkit-animation: animation-fade-in linear 1; /* show fade-in animation when page is loaded */
  -moz-animation: animation-fade-in linear 1;
  animation: animation-fade-in linear 1;
 
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
 
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-duration: 5s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  animation: animation-rotate-round-border 2.0s infinite linear; /* loop spin+transformation animation */

  width: 20px;
  height: 20px;
  border: 4px ridge #999;
  display: inline-block;

  margin-right: 6px;
  margin-left: 6px;
}

.spinner-left,
.spinner-right {
  width: 10px;
  height: 10px;
}

.spinner-left {
  -webkit-animation-delay: -0.2s; /* Chrome, Safari, Opera */
  animation-delay: -0.2s;
}

.spinner-right {
  -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
  animation-delay: 0.2s;
}

@keyframes animation-rotate-round-border {
  0% {
    border-radius: 0%;

    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    border-radius: 50%;
  }

  100% {
    border-radius: 0%;

     -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animation-fade-in {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  } 
}