@import "./node_modules/bootstrap/less/bootstrap.less";

@error-color: red;
@warning-color: orange;
@ok-color: green;
@font-family: 'Raleway', sans-serif;

body.modal-open {
  font-family: @font-family;
}

.container {
  font-family: @font-family;

  .form-question {
    & > label {
      margin: 0;
    }

    .radio,
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
    }

    .checkbox-group,
    .radio-group {
      .form-group {
        margin: 0;
      }

      .form-group:last-child {
        // Bootstrap variable
        margin-bottom: @form-group-margin-bottom;
      }
    }
  }


  .registration-status {
    &.ok {
      color: @ok-color;
    }

    &.pending {
      color: @warning-color;
    }
  }

  .ok {
    color: @ok-color;
  }

  .error {
    color: @error-color;
  }

  .has-error .control-label,
  .has-error .help-block,
  .has-error .form-control {
    color: @error-color;
    border-color: @error-color;
  }

  .event-registration .form-question .error {
    position: relative;
    top: -10px;
  }

  .form-element-selector {
    margin-top: 10px;
    &.open {
      padding: 1rem;
      border: 1px black solid;
      h2 {
        margin-bottom: 1rem;
      }
    }
  }

  .editable-form-element {
    border: 1px black solid;
    margin-top: 20px;
    padding: 10px;

    > div {
      display: inline-block;
    }
    
    .preview {
      //max-width: 300px;
      padding-right: 10px;
      width: 33%;
      overflow: hidden;
    }

    
    .edit-controls {
      width: 66%;
      border-left: 1px solid black;
      padding-left: 10px;
      vertical-align: top;

      .general-edit-controls {
        padding-top: 20px;
        position: relative;
        width: 100%;

        .movement-controls {
          display: flex;
          position: absolute;
          right: 0;
          top: 0;
        }
      }

    }
  }

  .event-settings {
    form {
      label {
        display: block;
      }

      input {
        margin-bottom: 1rem;
      }
    }

    button.save-changes {
      margin-top: 10px;
    }
  }

  .guest-account-enabled,
  .guest-account-disabled {
    font-size: 20px;
    margin-left: 20px;
    text-transform: uppercase;
  }

  .guest-account-enabled {
    color: @ok-color;
  }

  .guest-account-disabled {
    color: @error-color;
  }

} 
