input, textarea {
    display: block;
}

.error {
    color: red;
}

.form-element-selector {
    border: 1px black solid;
    float: left;
    clear: left;
    h2 {
        margin-bottom: 1rem;
    }
}

.form-question {
    margin-bottom: 1rem;
    
    &> label {
        font-weight: bold;
        display: block;
        margin-bottom: 0.25rem;
    }
    
    .radio-group,
    .checkbox-group {
        label {
            display: inline;
            margin-left: 0.5rem;
        }
        
        input {
            display: inline;
        }
        
        &> div:not(:last-of-type) {
            margin-bottom: 0.25rem;
        }
    }
}

.editable-form-element {
    border: 1px black solid;
    margin-top: 20px;
    padding: 10px;
    float: left;
    clear: left;

    > div {
        display: inline-block;
    }
    
    .preview {
    }

    
    .edit-controls {
        border-left: 1px solid black;
        margin-left: 20px;
        padding-left: 10px;
        vertical-align: top;
    }
}

table {
    border-spacing: 0.5rem;
    text-align: center;

    td, th {
        max-width: 6rem;
    }
}

.event-settings-dashboard {
    & > a {
        display: inline-block;
        padding: 1rem;
    }
}

.event-settings {
    form {
        label {
            display: block;
            margin-bottom: 1rem;
        }
    }
}